[
  {"title": "World of Warcraft", "platform": "pc"},
  {"title": "Diablo IV", "platform": "pc"},
  {"title": "Overwatch 2", "platform": "pc"},
  {"title": "StarCraft II", "platform": "pc"},
  {"title": "Hearthstone", "platform": "pc"}
]
